<% unless user_signed_in? %>

<div class="hero-unit">
	<h1>Welcome to Surf's Up!</h1>
	<p>
		You've found the home page for the best surfing photo app ever
	</p>
	<p>
		<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>
<%end%>
