
<h1>About</h1>
<p>
	<a href="http://onemonthrails.com"> One Month Rails </a> is a project to teach Ror in one month.

<div class="footer">
<small>
<%= link_to"One Month Rails", "http://onemonthrails.com" %> by Mattan Griffel
</small>

</div>